Repository alan-turing-institute/rctab-models: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pylint, pymarkdown, pydocstyle

black:
  name: Black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

mypy:
  name: MyPy
  entry: poetry run mypy --install-types --non-interactive
  language: system

pylint:
  name: Pylint
  entry: poetry run pylint --rcfile=.python-lint
  language: system

pymarkdown:
  name: PyMarkdown
  entry: poetry run pymarkdown --strict-config --config .pymarkdown.json scan
  language: system

pydocstyle:
  name: pydocstyle
  entry: poetry run pydocstyle --convention=google
  language: system

Add github workflows
  .github/workflows/gitleaks.yml
  .github/workflows/linter.yml
Due: none

Add linter config files
  .python-lint
  mdl_style.rb
  mypy.ini
Due: none

Test commit
  mdl_style.rb
Due: none

Add pymarkdown config
  .pymarkdown.json
Due: none

Add pydantic
  README.md
  poetry.lock
  pyproject.toml
Due: pymarkdown

Add models
  .gitignore
  rctab_models/__init__.py
  rctab_models/models.py
Due: black, isort, mypy, pylint, pydocstyle

Test pr (#1)
  .gitignore
  .pymarkdown.json
  .python-lint
  README.md
  mypy.ini
  poetry.lock
  pyproject.toml
  rctab_models/__init__.py
  rctab_models/models.py
Due: black, isort, mypy, pylint, pymarkdown, pydocstyle

Create SECURITY.md
  SECURITY.md
Due: pymarkdown

Create SECURITY.md (#2)
  SECURITY.md
Due: pymarkdown

added start and end dates fields to allusage
  rctab_models/models.py
Due: black, isort, mypy, pylint, pydocstyle

Update pydantic, update to 0.2.0
  poetry.lock
  pyproject.toml
Due: none

added start and end dates fields to allusage (#3)
  rctab_models/models.py
Due: black, isort, mypy, pylint, pydocstyle

Update deps (#4)
  poetry.lock
  pyproject.toml
Due: none

Reformat pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

Allow UUID or name to identify subscriptions
  pyproject.toml
  rctab_models/models.py
Due: black, isort, mypy, pylint, pydocstyle

Update dependencies
  poetry.lock
  pyproject.toml
Due: none

Finance and Allocation base models
  .python-lint
  rctab_models/models.py
Due: black, isort, mypy, pylint, pydocstyle

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$, but not: ^alembic/
  pylint: any of: \.py$, but not: ^alembic/
  pymarkdown: any of: \.(md|markdown|mdown)$, but not: .github/
  pydocstyle: any of: \.py$
